
.nodecor {
    text-decoration: none;
    color: black;
}

.site {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.global-box {
    box-sizing: border-box;
    width: 1480px;
    height: 1282px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 63px;
}

/*header*/
.header-box {
    box-sizing: border-box;
    width: 1280px;
}
.site-name-box {
    box-sizing: border-box;
    width: 1280px;
    padding-bottom: 40px;
}
.site-name {
    box-sizing: border-box;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    color: #4BCAFF;
}
.bicolor {
   color: #4BCAFF;
}

/*menu*/
.header-menu-box {
    background: #35444F;
    box-sizing: border-box;
    width: 1280px;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 49px;
}
.header-menu-list {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.header-menu-list-item {
    display: flex;
    align-items: center;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 0 35px;
}
.header-menu-list-item:hover {
    background: #222F3A;
}

/*wrapper*/
.wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 1280px;
    justify-content: space-between;
}

/*aside*/
.aside-menu {
    box-sizing: border-box;
}
.aside-menu-list {
    box-sizing: border-box;
    border: 1px solid black;
    width: 344px;
    height: 399px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.aside-menu-item {
    height: 80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #495863;
    box-sizing: border-box;
    padding: 20px 0 20px 40px;
}
.aside-menu-item:hover {
    background: #DBDBDB;
    color: black;
    padding-left: 60px;
}

/*content*/
.content-box {
    width: 885px;
    height: 800px;
    box-sizing: border-box;
    margin-bottom: 40px;
}
.foto-box {
    box-sizing: border-box;
    border: 1px solid black;
    width: 885px;
    height: 529px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.foto {
    box-sizing: border-box;
    width: 320px;
    height: 380px;
}
.text-1 {
    font-family: 'Roboto';
    font-style: normal;
    box-sizing: border-box;
    width: 885px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 18px;
    color: #2C2C2C;
}
.text-2 {
    font-family: 'Roboto';
    font-style: normal;
    box-sizing: border-box;
    width: 885px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 18px;
    color: #2C2C2C;
}

/*footer*/
.footer-box {
    background: rgba(99, 105, 110, 0.48);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 69px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    padding: 0 25px;
}
.footer-menu {
    display: flex;
}
.footer-menu-item {
    margin: 0 20px;
    color: black;
    text-decoration: none;
}
.footer-menu-copyriht-item {
    margin: 0 15px;
}
.footer-menu-item:hover {
    color: #3181A6;
    border-bottom: 2px solid  #3181A6;
    padding-bottom: 10px;
}
.footer-menu-copyriht-item:hover {
    color: #3181A6;
    border-bottom: 2px solid  #3181A6;
    padding-bottom: 10px;
}
.footer-links-hover {
    color: #3181A6;
    border-bottom: 2px solid  #3181A6;
}